<!DOCTYPE html>
<html>
<head>
 <href="style.css" type="text/css" link rel="stylesheet" />
</head>
<style>

label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
}

</style>
    <body>
    <form method="post" action="{{ url_for('divide_result') }}">
    
    <div>
        <label for="number">Weight(lb):</label>
        <input type="text" name="number" id="number">
        </div>
        
        <div>

        <label for="divide_by">Height(ft):</label>
        <input type="text" name="divide_by" id="divide_by">
        
        </div>

        <input type="submit" value="Calculate"/>
    </form>
    /Users/samuelodewale/pythoncalculate
    </body>
</html>
